@CHARSET "ISO-8859-1";

html {
    background-image: url("bg.png");
    font-family: helvetic, verdana, arial, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #C0DEED;
}

body {
    margin: 0;
    min-width: 1200px;
}

.messages{
    margin-top: 10px;
    background-color:whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px
        rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0px 20px 10px 10px;
}

.message-block {
}

.message{
    
}

.sender{
    font-weight: bold;
}

.time{
    float:right;
}

.divider-horizontal{
    float:top;
    height:2px;
    margin:10px 0;
    background-color:#e5e5e5;
    border-right:1px solid #fff
}

.divider-vertical{
    float:left;
    width:1px;
    height:40px;
    margin:0 10px;
    background-color:#e5e5e5;
    border-right:1px solid #fff
}

.nav {
    margin: 0;
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    position: relative;
    border-bottom: 2px solid #e5e5e5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    height: 40px;
}

.nav li {
    float: left;
    list-style-type: none;
}

.nav a {
    margin-top: 8px;
    padding-left: 50px;
    width:200px;
    display: block;
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

.nav a:hover {
    color: #4183c4;
}

div.container {
    width: 800px;
    margin: 0 auto;
}

div.glass {
    width: 410px;
    margin: 50px auto;
    padding: 25px;
    background-color: rgba(250, 250, 250, 0.2);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px
        rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.glass {
    width: 210px;
    color: #999;
}

.glass label {
    width: 75%;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 15px;
}

.glass input {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
    width: 75%;
    max-width: 100%;
    margin-bottom: 8px;
}

input:FOCUS {
    border-color: #56b4ef;
    box-shadow: 0 0 4px rgba(82, 168, 236, .6)
}

input[type="submit"] {
    background-image: linear-gradient(#5ba1c2, #2daebf);
    color: black;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 50%;
    font-size: 15px;
}